@model ApplicationCore.Models.MovieDetailsModel

<div class="row mt-2">
    <!-- Poster -->
    <div class="col-4">
        <img src="@Model.PosterUrl" alt="@Model.Title" style="width:90%">
    </div>

    <!-- Title, Tagline, Information -->

     <div class="col-md-5">
        <h3>@Model.Title</h3>
        <p>@Model.Tagline</p>

        @foreach(var genre in @Model.Genres)
        {
            <span class="badge bg-secondary">@genre.Name</span>
        }

        <p><button class="btn btn-primary btn-block">Favorite</button></p>
        @Model.Overview
    </div>

    <div class="col-3">
    <!-- buttons -->

        <div class="span2">

            <!--Review-->
            <p><button class="btn btn-primary btn-block">Review</button></p>
            <!--Buy-->

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              BUY @Model.Price
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>




        </div>
    </div>
</div>

<div class ="row mt-5">
    <!-- Movie Facts -->

    <div class="col-4">
        <h5> MOVIE FACTS</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
              Release Date: 
              <span class="badge bg-secondary">@Model.ReleaseDate</span>
          </li>

          <li class="list-group-item">
              RunTime:
              <span class="badge bg-secondary">@Model.RunTime</span>
          </li>

          <li class="list-group-item">
              Box Office:
              <span class="badge bg-secondary">$@Model.Revenue</span>
          </li>

          <li class="list-group-item">
              Budget:
              <span class="badge bg-secondary">$@Model.Budget</span>
          </li>

        </ul>
    <!-- Trailers -->
        <h5>TRAILERS</h5>
        @foreach( var trailer in @Model.Trailers)
        {
            <p><a href="@trailer.TrailerUrl">@trailer.Name</a></p>

        }

        

    </div>
    <!-- Cast -->

    <div class="col-7 offset-md-1">
        <h5> CAST</h5>
        <ul class="list-group list-group-flush">

        @foreach (var cast in @Model.Casts)
            {
                <li class="list-group-item">
                    <div class = "row">
                       <div class = "col-1">
                           
                           <a asp-action="Details" asp-controller="Casts" asp-route-id="@cast.Id">
                           <img src="@cast.ProfilePath" alt="@cast.Name" class="rounded-circle" style="width:70%">
                           </a>

                       </div>
                       <div class = "col-4">
                           @cast.Name
                       </div>
                       <div class = "col-5">
                           @cast.Character
                       </div>
                    </div>
                </li>
            }
        </ul>


         
        
    </div>



</div>